<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--默认id为 全限定类名+#0、#1...-->
    <bean class="prosayj.thinking.spring.common.support.model.Person"/>
    <bean class="prosayj.thinking.spring.common.support.model.Person"/>

    <!--属性 property 注入-->
    <bean id="person1" name="personName1,personName2,/personName3"
          class="prosayj.thinking.spring.common.support.model.Person">
        <property name="pAge" value="24"/>
        <property name="pName" value="property设值注入用户名称"/>
    </bean>

    <!--基于p名称空间的简化写法 注入-->
    <bean id="person2" class="prosayj.thinking.spring.common.support.model.Person"
          p:pName="基于p名称空间的简化写法"
          p:pAge="25"/>

    <!--构造注入 的重载1 -->
    <bean id="/person3" class="prosayj.thinking.spring.common.support.model.Person">
        <constructor-arg value="构造注入用户名称"/>
        <constructor-arg value="26"/>
    </bean>
    <!--构造注入 的重载2 -->
    <bean id="person4" class="prosayj.thinking.spring.common.support.model.Person">
        <constructor-arg value="重载构造注入用户名称" type="java.lang.String"/>
    </bean>
    <!--构造注入 的重载3 -->
    <bean id="person5" class="prosayj.thinking.spring.common.support.model.Person">
        <constructor-arg value="27" type="int"/>
    </bean>

</beans>
